.button {
  display: block;
  background: #019EEB;
  border-radius: 10px;
  color: #F4F4F4;
  width: 400px;
  height: 79px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  line-height: 79px;
  transition: .6s;
  @media (max-width:1279px) {
    font-size: 32px;
    width: auto;
  }
  &:hover {
    background-color: #0134EB;
  }
  &_change {
    margin-top: 60px;
    @media (max-width:1279px) {
      display: none;
    }
  }
  &_learn {
    margin-top: 60px;
    @media (max-width:1279px) {
      margin-top: 80px;
    }
  }
  &_education {
    margin: 0 auto;
    margin-top: 80px;
    @media (max-width:1439px) {
      margin-top: 196px;
    }
    @media (max-width:1279px) {
      margin-top: 80px;
    }
  }
  &_price {
    width: auto;
    font-size: 32px;
    line-height: 70px;
    height: 70px;
    margin-top: 40px;
    @media (max-width:1279px) {
      font-size: 24px;
      line-height: 60px;
      height: 60px;
      margin-top: 20px;
    }
  }
  &_tarif {
    width: 100%;
    margin-top: 32px;
  }
}
.button-orange {
  display: block;
  height: 87px;
  background: linear-gradient(92.83deg, #FFBF43 0%, #FF8A1E 86.77%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 87px;
  color: #FFFFFF;
  margin-top: 40px;
  &:hover {
    background: #FF8A1E;
  }
  @media (max-width:1279px) {
    font-size: 24px;
  }
  &__text {
    position: relative;
    width: 350px;
    margin: 0 auto;
    @media (max-width:1279px) {
      width: 270px;
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/check.svg);
      width: 46px;
      height: 36px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media (max-width: 767px) {
  .button {
    height: 39px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 39px;
    &_change {
      margin: 0 auto;
      margin-top: 56px;
      //max-width: 500px;
    }
    &_learn {
      margin-top: 40px;
    }
    &_education {
      margin-top: 40px;
    }
    &_price {
      height: 45px;
      line-height: 45px;
      margin-top: 13px;
    }
    &_tarif {
      margin-top: 20px;
    }
  }
  .button-orange {
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    margin-top: 20px;
    &__text {
      width: 173px;
      padding-left: 40px;
      &::after {
        width: 22.89px;
        height: 17.83px;
      }
    }
  }
}
